@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');

.header {
    font-family: 'Mr De Haviland', cursive;
    
    width: 100%;
    display: flex;
    justify-content: space-around;

    padding-top: 8px;
}