
.page_container {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1.5fr 1fr auto;

    div {
        // border: 1px solid red;
    }
}

.item_info_container {
    // min-height: 35vh;
    width: 100vw;
    bottom: 0;

    display: grid;
    place-items: center;
}

.page_header, .page_mobile_nav {
    height: 8vh;
}