
.page_container {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr minmax(0, 1.5fr) 1fr 0.2fr;

    div {
        // border: 1px solid red;
    }
}

.item_info_container {
    // min-height: 35vh;
    width: 100vw;
    bottom: 0;

    display: grid;
    place-items: center;
}